name: luavm
description: Provide simple Lua VMs to Flutter (now supports vanilla Lua 5.4.0)
version: 0.2.2
homepage: https://github.com/tgarm/flutter-luavm

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.github.tgarm.luavm
        pluginClass: LuavmPlugin
      ios:
        pluginClass: LuavmPlugin

